.save_button__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 49px;
    gap: 8px;

    width: 180px;
    height: 80px;

    /* Orange/500 */

    background: #FF9D55;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}

.save_button__container p {
    width: 82px;
    height: 48px;

    /* Body/Body 1 */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */


    /* White/500 */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.cancel_button__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 8px;

    width: 150px;
    height: 68px;

    /* Black/600 */

    border: 2px solid #333333;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}

.cancel_button__container p {
    width: 86px;
    height: 36px;

    /* Body/Body 6 */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */


    /* Black/600 */

    color: #333333;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}