.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: url("../../../public/assets/main.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 200;
}

.layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0));
    /* background-color: black; */
    border-radius: 10px;
    z-index: -1;
}



.container .content {
    text-align: center;
}

.container .content h1 {
    line-height: 3;
    font-size: 80px;
    color: #fff;
}

.event {
    position: relative;
    margin: 96px;
    background: url("../../../public/assets/Event.svg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    width: calc(100vw - 182px);
    height: calc(100vh - 182px);
    overflow-y: hidden;
    z-index: 200;
}

.destination {
    /* height: 50vh; */
    margin-bottom: 50px;
}

.event__soon {
    margin: 96px;
    background: url("../../../public/assets/EventSoon.svg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    width: calc(100vw - 182px);
    height: calc(100vh - 182px);
    overflow: hidden;
    position: relative;
    z-index: 200;
}

footer {
    width: 100vw;
    height: 300px;
    background-color: #333;
    color: white;
}