.share_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 48px;

    width: 291px;
    height: 322px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


.share_info p {
    width: 291px;
    height: 48px;

    /* Body/Body 1 */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */


    /* Black/600 */

    color: #333333;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.share_info .share_info__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 268.64px;
    height: 226px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}