.explore_best_place_container .popular_place {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;

    width: 931px;
    height: 2236px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}

.explore_best_place_container .popular_place h2 {
    width: 734px;
    height: 68px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
    /* identical to box height */


    /* Black/600 */

    color: #333333;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.explore_best_place_container .popular_place .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    width: 840px;
    height: 2120px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}