.logo_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 402px;
    height: 194px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo_container img {
    width: 136px;
    height: 90px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo_container h3 {
    width: 402px;
    height: 72px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.regestration {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;

    width: 663px;
    height: 378px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}