.destinations__container {
    display: flex;
    flex-direction: column;
    margin-left: 90px;

}

.destinations__container .content {
    display: flex;
    flex-direction: column;

}

.destinations__container .content h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #333333;
}

.destinations__container .content p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #858585;
}

.destinations__container .detination_groups {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
    position: relative;
    height: 400px;
    overflow-y: hidden;
    overflow-x: scroll;
}