.destination__group__container {
    background-color: white;
    margin: 20px;
    min-width: 400px;
    max-height: 400px;
    overflow-y: hidden;
    border-radius: 20px;
    position: relative;
    cursor: grab;

}

.destination__group__container .layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 360px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 22.88%, rgba(255, 255, 255, 0) 100%);
    z-index: 0;
}

.destination__group__container img {
    cursor: pointer;
}

.destination__group__container h1 {
    position: absolute;
    color: white;
    bottom: 20px;
    left: 20px;
}

.destination__group__container .heart {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
}

.destination__group__container .heart img {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.destination__group__container .heart img:hover {
    transform: scale(1.1);
}