.event__main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.event__main .layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 22.88%, rgba(255, 255, 255, 0) 100%);
    z-index: -1;
}

.event__main .content {
    padding-left: 45px;
    padding-top: 70px;
    margin: 30px;
}

.event__main .content .event__header h1 {
    font-size: 64px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.event__main .content .event_paragraph p {
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 30px;
    line-height: 48px;
    font-weight: 500;
    overflow: hidden;
}