.giza_plan_component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 400px;
    height: 643px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.giza_plan_component .image {
    width: 400px;
    height: 400px;
    position: relative;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.giza_plan_component .image .favourite {
    width: 67px;
    height: 67px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 16px;
    right: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.giza_plan_component .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 371px;
    height: 200px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.giza_plan_component .title.paragraph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 188px;
    height: 48px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.giza_plan_component .title .paragraph h2 {
    width: 188px;
    height: 48px;

    /* Body/Body 5 */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */


    /* Black/600 */

    color: #333333;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.giza_plan_component .title p {
    width: 371px;
    height: 144px;

    /* Footer 2 */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    /* Black/400 */

    color: #858585;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}