.plan_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 578px;
    height: 124px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.plan_title h1 {
    width: 328px;
    height: 72px;

    /* Body/Body 4 */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */


    /* Black/600 */

    color: #333333;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.plan_title p {
    width: 578px;
    height: 48px;

    /* Header 2/regular */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */


    /* Black/500 */

    color: #5C5C5C;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}