.best_place {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 929px;
    height: 54px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.best_place .image {
    width: 56.64px;
    height: 54px;
    position: relative;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    background: #FFE6D5;
    border-radius: 50%;
}

.best_place .image img {

    position: absolute;
    width: 25.17px;
    height: 24px;
    left: 15.73px;
    top: 15px;
}

.best_place p {
    width: 259.06px;
    height: 36px;

    /* search 1 */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */


    /* Black/600 */

    color: #333333;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}